/* mainly copy pasted styles from bullseye page, still added comments to the classes just to follow instructions */

@import url(https://fonts.googleapis.com/css?family=Wellfleet);

/* body styling, applying background color and universal font settings */
body {
  background-color: #523620;
  color: #fff;
  font-family: "Wellfleet", times, serif;
  font-size: 150%;
  margin: 0px 0px 0px 0px;
}

/* changes h1 to have picture as background */
h1 {
  background-image: url("./bullseye-logo.png");
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 109px;
  width: 643px;
  margin: 40px auto;
}

/* positioning teacher image */
#teacher2 {
  float: right;
  margin: 135px 30px 0px 0px;
}

/* styles main page */
#page2 {
  background-color: #fecc6f;
  height: 730px;
  padding: 10px;
  min-width: 779px;
}

/* blackboard */
#blackboard {
  background-color: #425a5a;
  border: 25px solid #523620;
  border-radius: 20px;
  padding: 40px 20px;
  margin: 0px auto;
  height: 370px;
  width: 600px;
  text-align: center;
}

/* modifies "Multiplication Table" heading */
#blackboard h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.5em;
}
